POSTGRES_URL="postgres://postgres.twjxvsuvmgkltwrqjxvm:zUJeupG8EuH09Ag3@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
POSTGRES_PRISMA_URL="postgres://postgres.twjxvsuvmgkltwrqjxvm:zUJeupG8EuH09Ag3@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
SUPABASE_URL="https://twjxvsuvmgkltwrqjxvm.supabase.co"
NEXT_PUBLIC_SUPABASE_URL="https://twjxvsuvmgkltwrqjxvm.supabase.co"
POSTGRES_URL_NON_POOLING="postgres://postgres.twjxvsuvmgkltwrqjxvm:zUJeupG8EuH09Ag3@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres?sslmode=require"
SUPABASE_JWT_SECRET="WnIJCp1O0KsKPu/3JmkaieWB0i0jZXI97diUjm5cuGjcJfUoS2SWyVdvm1q2TmJqifKRTaZ5eu3Bc7MUg2JR2A=="
POSTGRES_USER="postgres"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR3anh2c3V2bWdrbHR3cnFqeHZtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDI4NzUyNTAsImV4cCI6MjA1ODQ1MTI1MH0.y6i-WpMHaOk5K1pAivO7RPpD7FGUW-zlXgX7xlOVxng"
POSTGRES_PASSWORD="zUJeupG8EuH09Ag3"
POSTGRES_DATABASE="postgres"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR3anh2c3V2bWdrbHR3cnFqeHZtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0Mjg3NTI1MCwiZXhwIjoyMDU4NDUxMjUwfQ.SGT4zIPqdToVKhRFMP7ghaFxYiY7FXZHsE-7DTrShJ0"
POSTGRES_HOST="db.twjxvsuvmgkltwrqjxvm.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR3anh2c3V2bWdrbHR3cnFqeHZtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDI4NzUyNTAsImV4cCI6MjA1ODQ1MTI1MH0.y6i-WpMHaOk5K1pAivO7RPpD7FGUW-zlXgX7xlOVxng"